{# This file is part of Living Labs Challenge, see http://living-labs.net.
 #
 # Living Labs Challenge is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Lesser General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Living Labs Challenge is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU Lesser General Public License for more details.
 #
 # You should have received a copy of the GNU Lesser General Public License
 # along with Living Labs Challenge. If not, see <http://www.gnu.org/licenses/>.
 #}
    {% extends "base.html" %}
    {% block header %}
    	Register
    {% endblock %}
    {% block content %}
      <p>Please use the form below to register to the CLEF Living Lab.</p>
      {% from "forms/macros.html" import render_field %}
      <form method="POST" action="." class="form">
        {{ form.csrf_token }}
        {{ render_field(form.teamname) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        <div class="form-group">
    	    <label class="col-lg-2 control-label" >ReCaptcha</label>
	        {{ form.recaptcha }}
    	</div>
        <div class="form-group">
      		<div class="col-lg-10 col-lg-offset-2">
        		<button type="submit" class="btn btn-primary">Register</button>
      		</div>
    	</div>
      </form>
    {% endblock %}