{# This file is part of Living Labs Challenge, see http://living-labs.net.
 #
 # Living Labs Challenge is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Lesser General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Living Labs Challenge is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU Lesser General Public License for more details.
 #
 # You should have received a copy of the GNU Lesser General Public License
 # along with Living Labs Challenge. If not, see <http://www.gnu.org/licenses/>.
 #}
   {% extends "base.html" %}
   {% block header %}
    	Queries for {{ site.name }}
   {% endblock %}
   {% block content %}
    <table class="table table-striped table-hover ">
    <thead>
    <tr>
    	<th>Qid</th>
    	<th>Site_qid</th>
    	<th>Querystring</th>
    	<th>Creation time</th>
    	<th></th>
    </tr>
    </thead>
    <tbody>
    {% for query in queries %}
    <tr>
      <td>{{ query._id }}</td>
      <td>{{ query.site_qid }}</td>
      <td>{{ query.qstr }}</td>
      <td>{{ query.creation_time }}</td>
 	  <td><a href="/site/{{ site._id}}/query/{{ query._id }}"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></td>
  	</tr>
    {% endfor %}
  	</tbody>
	</table> 
   {% endblock %}
 